.App {
  text-align: center;
  background-color: #f5f5c6;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  // color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-tile {
  list-style-type: none;
}

.nav-list {
  padding: 2em 2em 0.5em 2em;
}

.remove-padding {
  padding: 0px;
}

.tile-sizing {
  border: 2px solid black;
}